.root {
    min-width: 1100px;
    max-width: 1600px;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: black;
    --grey-color: #f2f2f2;
    --blue-color: #2f80ed;
    --black-color: #1f1f1f;
  }